<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Keith & Nikki's Wedding</title>
		<meta name="robots" content="index, follow, noarchive" />
		<link rel="stylesheet" href="menu.css" type="text/css" />
		<link rel="stylesheet" href="style.css" type="text/css" />
		<link rel="stylesheet" href="names.css" type="text/css" />

		<!-- This includes the ImageFlow CSS and JavaScript -->
		<link rel="stylesheet" href="imageflow.css" type="text/css" />
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="imageflow.js"></script>

	</head>
	<body>
              <div id="menu">
                 <ul>
                   <li><a class="active" href="index.html">K&N</a></li>
                   <li><a href="wedding.html">Wedding</a></li>
                   <li><a href="logistics.html">Logistics</a></li>
                   <li><a href="rsvp.html">RSVP</a></li>
                   <li style="float:right"><a href="registry.html">Registry</a></li>
                 </ul>
              </div>
              <div id="names">
              <h1 class="ann">
                  <marquee height="100%" behavior="scroll" direction="left">Keith Gerhards &amp Nicole Barbour</marquee>
              </h1>

		<!-- This is all the XHTML ImageFlow needs -->
		<div id="myImageFlow" class="imageflow">
			<img src="images/snowboarding.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/KilkennyCastle.jpg" longdesc="img/img1.png" width="400" height="300" alt="Image 1" />
			<img src="images/apartment.jpg" longdesc="I am Legand" width="300" height="400" alt="I am Legand" />
			<img src="images/engagement.jpg" longdesc="img/img3.png" width="300" height="400" alt="Captain America" />
			<img src="images/napa.jpg" longdesc="img/img1.png" width="300" height="400" alt="Conan The Barbarian" />
			<img src="images/6.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/7.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/8.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/9.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/10.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/11.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/12.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/13.jpg" longdesc="img/img2.png" width="300" height="400" alt="Image 5" />
			<img src="images/14.jpg" longdesc="img/img2.png" width="300" height="400" alt="Snow Boarding in Colorado!" />
		</div>
              </div>


	</body>
</html>
